.no-products {
    color: blue !important;
    cursor: pointer;
  }

  #dashboard-card-content {
      display: flex;
      justify-content: center;
  }

  #dashboard-card-footer {
    margin-left: 15px;
}