<div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;"
    *ngIf="productList.length<1; else viewproduct">
    <h2>No products to show!</h2>
</div>
<ng-template #viewproduct>
    <div *ngFor="let product of productList">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{product.productName}}</mat-card-title>
                <mat-card-subtitle>{{product.productPrice | currency:'GBP' | price}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-raised-button (click)="deleteProduct(product)">
                    <mat-icon>delete</mat-icon> Delete
                </button>
                <button mat-raised-button [routerLink]="[ '/product/edit', product.productId ]">
                    <mat-icon>edit</mat-icon> edit
                </button>
                <button mat-raised-button (click)="viewProduct(product)">
                    <mat-icon>visibility</mat-icon> View
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</ng-template>