<mat-card>
    <form [formGroup]="addProductForm" (ngSubmit)="saveForm()">
        <br>
        <mat-card-header>
            <mat-card-title>Add new product</mat-card-title>
            <br>
            <br>
        </mat-card-header>
        <mat-card-content>
            <div class="add-product-row1">
                <p id="productName" class="field">
                    <mat-form-field appearance="outline">
                        <mat-label>Product name</mat-label>
                        <input formControlName="productName" matInput placeholder="Enter the product name">
                        <mat-error *ngIf="productFormValues.productName.errors?.required">Required a product name
                        </mat-error>
                    </mat-form-field>
                </p>
                <p class="field">
                    <mat-form-field appearance="outline">
                        <mat-label>Product price</mat-label>
                        <input appNumberValidator formControlName="productPrice" matInput
                            placeholder="Enter the product price">
                        <mat-error *ngIf="productFormValues.productPrice.errors?.required">Required a product price
                        </mat-error>
                        <mat-error *ngIf="productFormValues.productPrice.errors?.priceLimit">Price cannot be less than 1
                            GBP</mat-error>
                    </mat-form-field>
                </p>
            </div>
            <p class="field">
                <mat-form-field style="width: 100%; height: 50%;" appearance="outline">
                    <mat-label>Product description</mat-label>
                    <textarea formControlName="productDescription" matInput
                        placeholder="Describe the product..."></textarea>
                    <mat-error *ngIf="productFormValues.productDescription.errors?.required">Required a product
                        description</mat-error>
                </mat-form-field>
            </p>
            <input type="file" (change)="onImageFileChange($event)" />
        </mat-card-content>
        <mat-card-actions>
            <div id="add-product-submit-btn">
                <button mat-raised-button color="primary" [routerLink]="['/']" type="reset">Cancel</button>
                <button mat-raised-button color="primary" type="submit">Save</button>
            </div>
        </mat-card-actions>
    </form>
</mat-card>